@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.ebay-gradient-bg {
  background: linear-gradient(to bottom, #dbeafe, #bfdbfe, #60a5fa) !important;
}
